@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-blue-950 hover:bg-red-950 inline-block my-2 px-4 py-2 uppercase rounded-md cursor-pointer font-bold text-white;
  }
  .footheader {
    @apply w-4/5 mt-20 h-7 mx-auto bg-repeat-x bg-right bg-contain;
  }
  .menu {
    @apply bg-gradient-to-b from-blue-950 to-red-950 text-white px-5 h-[90px] sticky top-0 z-20 flex duration-[400ms] ease-[cubic-bezier(0.2,0.8,0.2,1)]
  }
  .menuScrolled {
    @apply bg-gradient-to-b from-blue-950/90 to-red-950/90 text-white px-5 h-[70px] sticky top-0 z-20 flex 
  }
}