@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-blue-950 hover:bg-red-950 inline-block my-2 px-4 py-2 uppercase rounded-md cursor-pointer font-bold text-white;
  }
  .menu {
    @apply bg-gradient-to-b from-blue-950/90 to-red-950/90 text-white px-5 h-[70px] sticky top-0 z-20 flex 
  }
}