.fixed-con {
  z-index: 9724790009779558!important;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
  z-index: 9724790009779!important;
  top:0;
  left:unset;
  right:-5px;
  display:none!important;
  border-radius:50%;
  border:2px solid gold;
  }

.VIpgJd-ZVi9od-aZ2wEe-OiiCO{
    width:80px;
    height:80px;
  }
  /*hide google translate link | logo | banner-frame */
.goog-logo-link,.gskiptranslate,.goog-te-gadget span,.goog-te-banner-frame,#goog-gt-tt, .goog-te-balloon-frame,div#goog-gt-{
    display: none!important;
  }
.goog-te-gadget {
    color: transparent!important;
    font-size:0px;
  }

.VIpgJd-ZVi9od-ORHb-OEVmcd{ display: none !important;}

body {position: static !important; top:0px !important;}

#google_translate_element select{
  background:black;
  color:white;
  border: none;
  border-radius:30px;
  padding:10px;
  text-transform: uppercase;
  font-weight: 600;
}

#google_translate_element {
  position: fixed;
  background: transparent;
  bottom: 1%;
  left: 0.5%;
  border-radius: 3px;
  text-align: center;
  z-index: 30;
}